<ul>
  <li *ngFor="let item of cartItems">
    Name: {{item.name}}<br />
    Quantity: 
      <md-icon class="pointer" (click)="increaseQty(item)">add_circle_outline</md-icon>
      {{item.quantity}}
      <md-icon class="pointer" (click)="decreaseQty(item)">remove_circle_outline</md-icon>
      <br />
    Price: {{item.price}}<br />
    Total: {{item.price * item.quantity}}
    <md-icon class="pointer" (click)="deleteItem(item)">delete</md-icon>
    <hr />
  </li>
</ul>

Total: {{ totals.grossTotal }}
<br />
<button md-raised-button (click)="onCancel()">Cancel</button> <button md-raised-button color="primary">Open Table</button>
